.login {
  width: 90%;
  max-width: 40rem;
  margin: 4rem auto;
  padding: 2rem;
}
.p {
  color: rgb(211, 9, 9);
}
.actions {
  text-align: center;
}
/* Responsive Login Styles */
@media screen and (max-width: 768px) {
  .login {
    margin: 10rem auto;
  }
}
