* {
  box-sizing: border-box;
}

html {
  font-family: "Outfit", sans-serif;
  background: #fff;
}

body {
  margin: 0;
}

main {
  margin-top: 6rem;
}
/* Responsive Global Styles */
@media screen and (max-width: 768px) {
  main {
    margin-top: 3rem;
  }
}
